<configuration debug="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[#|%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC}|%-5level|%-25thread|%-25logger{10}|%file:%line|%msg|#]%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
